doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Todo Page
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Departments
        main
            table(width="100%")
                thead
                    tr
                        th Name
                        th Number of Employees
                tbody
                    if departments & departments.length > 0
                        each department in departments
                            tr
                                td #{department.name}
                                if department.employees
                                    td #{department.employees.length}
                                else 
                                    td 0
                        else
                            tr
                                td(colspan="2") No departments found
                    else
                            tr
                                td(colspan="2") No department var found
        footer
            p This is the footer
            p #{new Date().toLocaleDateString()}
