doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Todo Page
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Employees
        main
            div
                table
                    thead
                        tr
                            th First Name
                            th Last Name
                            th Department
                            th Edit
                    tbody
                        each employee in employees
                            tr
                                td #{employee.firstName}
                                td #{employee.lastName}
                                if employee.department
                                    td #{employee.department.name}
                                else
                                    td No department
                                td
                                    a(href="/employee/update/" + employee._id)
                                        button Edit
                        else
                            tr
                                td(colspan="4") No employees found
        footer
            a(href="/employee/create")
                button Add Employee
            a(href="/")
                button Home
            p #{new Date().toLocaleDateString()}
