// This is the main page of the application
// title, message are bindend variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        // Set a viewport for mobile devices
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 #{title}
            nav 
                a(href="/") 
                    button Home
                a(href="/employees") 
                    button Employees
                a(href="/departments")
                    button Departments
        main
            h1 #{message}
        footer 
            p This is the footer
            p #{new Date().toLocaleDateString()}